/* tablet */
@media screen and (max-width: 955px) {
  .headline {
    display: flex;
  }
  .headline-section {
    margin: 85px auto 0px 40px;
    width: 50%;
  }
  .banner-text-main {
    width: 350px;
    height: 140px;
    font-size: 50px;
    margin: 30px auto;
  }
  .banner-text-2 {
    width: 350px;
    height: 70px;
    font-size: 20px;
  }
  .container-bottom-2 {
    width: 350px;
    margin: 20px auto;
  }

  .container-bottom-2 ul {
    gap: 70px;
  }
  .container-bottom-2 ul li {
    padding: 3px 10px;
    font-size: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    min-width: 70px;
  }
  .headline-profil {
    margin-top: 70px;
    width: 50%;
  }
  .profil {
    width: 250px;
    margin: auto;
    border: 10px solid #0b60b0;
  }
}
/* tablet */
@media screen and (max-width: 750px) {
  .headline {
    display: flex;
  }
  .headline-section {
    margin: 85px auto 0px 40px;
    width: 50%;
  }
  .banner-text-main {
    width: 300px;
    height: 140px;
    font-size: 40px;
    margin: 20px auto;
  }
  .banner-text-2 {
    width: 300px;
    height: 70px;
    font-size: 20px;
    margin-top: -30px;
  }
  .container-bottom-2 {
    width: 300px;
    margin: 20px auto;
  }

  .container-bottom-2 ul {
    gap: 50px;
  }
  .container-bottom-2 ul li {
    padding: 2px 7px;
    font-size: 15px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    min-width: 70px;
  }
  .headline-profil {
    margin-top: 70px;
    width: 50%;
  }
  .profil {
    width: 200px;
    margin: auto;
    border: 7px solid #0b60b0;
  }
}
