body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #1a1a1d;
  z-index: -1;
}

img.profil {
  width: 20%;
  height: auto;
  border-radius: 100%;
  margin-top: 10px;
  margin-left: 3%;
}

nav {
  top: 0;
  background-color: #000000;
  position: sticky;
  width: 100%;
  z-index: 300;
  display: flex;
  overflow: visible;
  height: 10vh
}

nav ul {
  list-style-type: none;
  display: flex;
  width: 100%;
}

nav ul li.Nameuser {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Poppins", sans-serif;
  margin: 2vw 3vw;
}

nav ul li {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Poppins", sans-serif;
  margin: 2vw 4vw;
}

p.headf {
  margin: 20vh 10% 10% 10%; /* Margin responsif dengan vh dan % */
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 10vw; /* Gunakan vw untuk ukuran font responsif */
  font-weight: bolder;
}

header {
  color: #ffffff;
  padding: 5vh 0;
  text-align: center;
  margin-top: 10vh;
}

header h1 {
  font-size: 8vw; /* Gunakan vw untuk ukuran font responsif */
  margin: 0;
}

header p {
  font-size: 3vw; /* Gunakan vw untuk ukuran font responsif */
}

section {
  height: auto;
  margin: 0 10%;
  padding: 3vh 5%;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}

section li {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 5vw; /* Menggunakan vw untuk ukuran font responsif */
  font-weight: bolder;
  margin-bottom: 2vh;
  margin-left: 2%;
  margin-top: 2vh;
  color: #ffffff;
}

section ul {
  list-style-type: none;
}

section div {
  margin-left: 0;
  margin: 1vh;
  background: #ffffff;
  border-radius: 20px;
  height: 1vh;
  width: 95%; /* Menggunakan persen untuk lebar div */
}

section div div.d1, section div div.d2, section div div.d3, section div div.d4, section div div.d5 {
  margin-left: 0;
  background: #da0037;
  border-radius: 20px;
  height: 1vh;
}

section div div.d1 {
  width: 70%;
}

section div div.d2 {
  width: 32%;
}

section div div.d3 {
  width: 15%;
}

section div div.d4 {
  width: 35%;
}

section div div.d5 {
  width: 10%;
}

section h2 {
  padding-left: 5%;
  padding-top: 2vh;
  color: #35424a;
  text-align: justify;
}

footer {
  margin-top: 10vh;
  text-align: center;
  padding: 2vh 0;
  background: #35424a;
  color: #ffffff;
  z-index: 2;
}

p a {
  text-decoration: none;
  color: white;
}
