body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #1a1a1d;
  z-index: -1;
  height: auto;
  width: auto;
}
/*profil chef */
nav img {
  border-radius: 100%;
  width: auto;
  height: 85%;
  margin: 1%;
  display: flex;
}
nav {
  top: 0;
  background-color: #000000;
  position: sticky;
  width: 100%;
  z-index: 300;
  display: flex;
  overflow: visible;
  height: 5em;
}
nav ul.navtext {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
  padding-right: 10px;
}
nav ul.navtexto {
  list-style-type: none;
  display: flex;
  margin-top: 30px;
  margin-left: -190px;
}
nav ul.navtext li.profil {
  color: #da0037;
  font-size: 1.3em;
  margin-top: -22px;
  margin-left: -25px;
  margin-right: 80px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-weight: bolder;
}
nav ul.navtext li.profil span.status {
  color: #ffffff;
  font-size: 0.7em;
  margin-top: -20px;
  margin-left: -25px;
  margin-right: 80px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  font-weight: lighter;
}
nav ul.navtext li {
  color: #ffffff;
  font-size: 1em;
  margin-left: 80px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
nav ul.navtexto li {
  color: #ffffff;
  font-size: 1em;
  margin-right: 15px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
nav ul.navtexto li span.konten {
  color: #ffffff;
  font-size: 1em;
  margin-right: 20px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}
p.headf {
  margin: 0% auto 30% auto;
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 10vw;
  font-weight: bolder;
  margin-top: 100px;
}
header {
  color: #ffffff;
  padding: 15% 0;
  text-align: center;
  margin-top: 10%;
}

header h1 {
  font-size: 10vw;
  margin: 0;
}

header p {
  font-size: 4vw;
  margin: 5% 10% 0% 10%;
}

section {
  height: auto;
  width: 80%;
  margin: auto;
  padding: 10% 5%;
  background: #000000;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif;
}
section li {
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 4vw;
  font-weight: bolder;
  margin-left: 0px;
  color: #ffffff;
  margin-top: 5%;
}
section ul {
  margin-top: 0%;
  list-style-type: none;
}
section div {
  margin-left: 0%;
  margin-top: 2%;
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
}
section div div.d1 {
  margin-left: 0;
  background: #da0037;
  border-radius: 20px;
  height: 2vw;
  width: 70%;
  z-index: 2;
}
section div div.d2 {
  margin-left: 0;
  background: #da0037;
  border-radius: 20px;
  height: 2vw;
  width: 32%;
  z-index: 2;
}
section div div.d3 {
  margin-left: 0;
  background: #da0037;
  border-radius: 20px;
  height: 2vw;
  width: 15%;
  z-index: 2;
}
section div div.d4 {
  margin-left: 0;
  background: #da0037;
  border-radius: 20px;
  height: 2vw;
  width: 35%;
  z-index: 2;
}
section div div.d5 {
  margin-left: 0;
  background: #da0037;
  border-radius: 20px;
  height: 2vw;
  width: 10%;
  z-index: 2;
}
section h2 {
  padding-left: 25px;
  padding-top: 15px;
  color: #35424a;
  text-align: justify;
}

footer {
  margin-top: 100px;
  text-align: center;
  padding: 10px 0;
  background: #35424a;
  color: #ffffff;
  z-index: 2;
}
p a {
  text-decoration: none;
  color: white;
}
